@model IEnumerable<CommunityOrganizer.ViewModels.InformationBoard.InformationBoardListViewModel>

@{
    ViewData["Title"] = "Index";
}
    <body id="bg-img1">
        <br />

        <h2>Message Board</h2>



        <div class="cards">

            @foreach (var item in Model)

            {

                    <div class="card">
                        <div class="card-header">@Html.DisplayFor(modelItem => item.HeadLine)</div>
                        <div class="card-body">

                            <p class="card-text">@Html.DisplayFor(modelItem => item.MessageBody)</p>

                        </div>
                    </div>
                


            }


            </div>


    </body>