@model IEnumerable<CommunityOrganizer.ViewModels.InformationBoard.InformationBoardListViewModel>

@{
    ViewData["Title"] = "Index";
}
    <body id="bg-img3">
        <br />

        <div class="headline">Important Things</div>

        <br />
        <div class="cards">

            @foreach (var item in Model)

            {

                    <div class="card">
                        <div class="card-header"><h5>@Html.DisplayFor(modelItem => item.HeadLine)</h5></div>
                        
                        <div class="card-body">

                            <p class="card-text">@Html.DisplayFor(modelItem => item.MessageBody)</p>
                            <p>
                                <button asp-controller="InformationBoard" asp-action="Edit" type="button" class="btn btn-outline-secondary btn-sm">Edit</button>
                                <button asp-controller="InformationBoard" asp-action="Delete" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                            </p>
                        </div>
                    </div>
                


            }


            </div>

        <br />
    </body>