@{
    ViewData["Title"] = "Home Page";
}
    
        <body id="bg-img1">
            <div>
                

                    <div>

                        <br />

                        <h1>Community Name</h1>

                        <br />

                        <blockquote class="blockquote text-center">
                            <p class="mb-0">"There is no place like home"</p>
                            <footer class="blockquote-footer">Dorthy Gale <cite title="Source Title">Wizard Of Oz</cite></footer>
                        </blockquote>

                    
                    </div>
            </div>

       </body>